<div class="container">
<div class="panel panel-default">
<div class="panel-body">
<h3 ng-if="data==0">No questions</h3>
<table class="table" ng-if="data!=0">
                <thead>
                <tr>
                    <th>Question Id</th>
                    <th>Price</th>
                    <th>Reward</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="i in data" >
                    <td>{{i.qid}}</td>
                    <td>{{i.costprice}}</td>
                    <td>{{i.prize}}</td>
                    <td><a type="button" class="btn" value="Buy" ng-click="buy(i.qid);">Buy</a></td>
                </tr>
                </tbody>
</table>
</div>
</div>
</div>
